@model IEnumerable<bookit.Models.Book>

@{
    ViewData["Title"] = "Gallery";
}

<h2>Book Gallery</h2>
<hr />

@foreach (var book in Model)
{
    <div class="row">
        <div class="col-sm-2">
            <img src="@book.ImagePath" alt="@book.ImagePath" class="img-responsive" />
        </div>
        <div class="col-sm-9">
            <h4>@book.Name</h4>
            <p> Author: @book.Author</p>
            <p> Author: @book.Year</p>
            <p> Author: @book.Pages</p>
            <p> Author: @book.Price</p>
            <p>
                <a asp-action="more" asp-route-id="@book.Id" asp-controller="Book" asp-area="" class="btn btn-primary">more..</a>
                <a asp-action="Create" asp-route-bookid="@book.Id" asp-controller="Order" asp-area="" class="btn btn-success" style="width:200px">Order Now</a>
            </p>

        </div>


    </div>
    <hr />


}